<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<%- include('../common/header.ejs'); %>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <%- include('../common/navbar.ejs'); %>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <%- include('../common/sidebar.ejs'); %>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
  
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">
                <div class="auth-wrapper">
                    <div class="auth-inner py-2">
                        <div class="card mb-0">
                            <div class="card-body">

                                <form class="auth-register-form mt-2" action="/updatepassword" method="POST" enctype="multipart/form-data">
                                    
                                    <!-- Password Field -->
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="current-password"> Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="current-password" type="password"
                                                name="oldPassword" placeholder="············"
                                                aria-describedby="login-password" tabindex="1" required />
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>

                                    <!-- New Password Field -->
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="new-password">New Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="new-password" type="password"
                                                name="newPassword" placeholder="············"
                                                aria-describedby="login-password" tabindex="2" required />
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>

                                    <!-- Confirm Password Field -->
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="confirm-password">Confirm Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="confirm-password" type="password"
                                                name="confirmPassword" placeholder="············"
                                                aria-describedby="login-password" tabindex="3" required />
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="mb-1">
                                        <button type="submit" class="btn btn-primary">Update Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /Register v1 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JavaScript to handle the click event -->

    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <%- include('../common/footer.ejs'); %>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        });
        document.querySelector('.icon-overlay').addEventListener('click', function() {
            document.getElementById('image').click();
        });
    </script>
</body>
<!-- END: Body-->

</html>
